
/* inital code to apply to whole document */
*{
    /* removes any gaps between elements */
    margin: 0;
    padding: 0; 
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1F2937;
    color: #000000;
}

/* code blocks for everything in the header */
.headerContainer{
    height: 30px;
    display: flex;
    justify-content: right;
    gap: 5px;
    color: white;
}
.headLink:hover{
    color:orange;
}
.headLink{
    font-size: 18px;
    padding-right: 15px;
    padding-top: 27px;
}
#logo{
    justify-content: left;
    font-size: 24px;
    padding-left: 15px;
    padding-bottom: 15px;

}

/* code blocks for the top section of content */
.introContainer{
    display: flex;
}
.introText{
    color: #ffffff;
    flex: 1;
    text-align: center;
    margin-right: 6px;
    padding-left: 6px;
    padding-top: 55px;
}
#mainHeader{
    font-weight: 900;
}
#signUp{
    color: white;
    margin-top: 7px;
    background-color: #3882f6;
    width: 85px;
    border: #3882f6;
    border-radius: 7px;
}
#signUp:hover{
    background-color: white;
    color: black;
}
/* image in the top section */
.introImage{
    padding: 4px;
    border-radius: 21px;
    background-color: darkgrey;
}

/* blocks of code for heading and images with subtext */
#infoHeader{
    padding: 5px;
    background-color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: black;
}
.randInfoContainer{
    height: 300px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.Pic{
    width: auto;
    height: 200px;
    margin-top: 5px;
    border: 2px solid rgb(51, 190, 255);
    border-radius: 10px;
}
.imgSubtext{
    text-align: center;
    padding-top: 100%;
}

/* grey quote box code blocks */
.quoteSection{
    text-align: center;
    font-weight: 300;
    padding: 5%;
    background-color: #E5E7EB;
    color: black;
}
#quoteSpeaker{
    text-align: right;
    padding-top: 2px;
}

/* makes chunk of white space between elements */
.whiteSpace{
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}

/* blue sign up box code blocks */
.boxContainer{
    display: flex;
    justify-content: center;
    background-color: white;
}
.signUpBox{
    border-radius: 5px;
    background-color: #3882f6;
    padding: 15px;
}
#signUpBoxButton{
    border-color: white;
    border-width: 2px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    width: 85px;
}
#signUpBoxButton:hover{
    background-color: white;
    color: black;
    border-color: black;
    border-width: 3px;
}

/* code block for the footer */
.footer{
    color: white;
    padding: 30px;
    text-align: center;
    font-weight: 100;
}